vendor
node_modules
public/storage
public/uploads
public/csv
Homestead.yaml
Homestead.json
public/themusthaves_products.json
public/musthavesforreal_products.json
public/facebook.txt
public/googlefeed.txt
public/Zanoxfeed.txt
public/Zanoxfeed.csv
.env
.idea/
config/database.php